<%
let tokenItemUrl = punk.id;
if (trait_normalization == 1) {
  tokenItemUrl = punk.id+'?trait_normalization=1';
}
%>
<a class="rug-item" href="/<%= item_path_name %>/<%= tokenItemUrl %>" style="text-decoration: none;">
  <div>
    <% if (punk.similar) { %>
    <h3 class="punk-similar-score">Similar Score #<%= punk.similar.toFixed(2) %></h3>
    <% } %>
    <% if (content_image_is_video) { %>
    <video class="punk-avatar" style="<% if (content_image_frame=='rectangle') { %> border-radius: 0px; <% } %>" src="<%= punk.image.replace('ipfs://', 'https://ipfs.io/ipfs/'); %>" alt="<%= punk.name %>" /></video>
    <% } else { %>
    <img class="punk-avatar" style="padding: 40px; <% if (content_image_frame=='rectangle') { %> border-radius: 0px; <% } %>" src="<%= punk.image.replace('ipfs://', 'https://ipfs.io/ipfs/'); %>" alt="<%= punk.name %>" />
    <% } %>
    <div class="punk-info">
        <% if (punk.rarity_rank) { %>
        <div class="punk-rank">
          <span class="rank"><%= punk.rarity_rank %></span>
          <span>rank</span>
        </div>
        <% } %>
      <span><%= punk.name %></span>
    </div>
  </div>
</a>
